<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Outlook>
            <version>0.1.0</version>
        </Ccc_Outlook>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Outlook before="Mage_Adminhtml">Ccc_Outlook_Adminhtml</Ccc_Outlook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ccc_outlook>
                    <file>ccc_outlook.xml</file>
                </ccc_outlook>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ccc_outlook>
                <class>Ccc_Outlook_Block</class>
            </ccc_outlook>
        </blocks>
        <helpers>
            <ccc_outlook>
                <class>Ccc_Outlook_Helper</class>
            </ccc_outlook>
        </helpers>
        <models>
            <ccc_outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>ccc_outlook_resource</resourceModel>
            </ccc_outlook>
            <ccc_outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_outlook_configuration</table>
                    </configuration>
                </entities>
            </ccc_outlook_resource>
        </models>
        <resources>
            <outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outlook_setup>
        </resources>
    </global>
</config>