<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Override>
            <version>0.1.1</version>
        </Practice_Override>
    </modules>
    <frontend>
        <layout>
            <updates>
                <practice_override>
                    <file>practiceoverride.xml</file>
                </practice_override>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Practice_Override_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart>Practice_Override_Block_Cart</cart>
                    <cart_item_renderer>Practice_Override_Block_Item_Renderer</cart_item_renderer>
                    <cart_item_renderer_grouped>Practice_Override_Block_Item_Grouped</cart_item_renderer_grouped>
                    <cart_item_renderer_configurable>Practice_Override_Block_Item_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Practice_Override_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
                <rewrite>
                    <catalog_product_edit>Practice_Override_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <test_demo_attribute_copy>
                        <type>singleton</type>
                        <class>practice_override/observer</class>
                        <method>copyCustomProductAttributes</method>
                    </test_demo_attribute_copy>
                </observers>
            </sales_quote_item_set_product>
            <mne_bhukh_lagi_che>
                <observers>
                    <test_demo>
                        <type>singleton</type>
                        <class>practice_test/observer</class>
                        <method>my_prac</method>
                    </test_demo>
                </observers>
            </mne_bhukh_lagi_che>
            <admin_system_config_changed_section_practice_test>
                <observers>
                    <banner_config_observer>
                        <type>singleton</type>
                        <class>practice_override/observer</class>
                        <method>bannerUpdated</method>
                    </banner_config_observer>
                </observers>
            </admin_system_config_changed_section_practice_test>

            <admin_system_config_changed_section_advanced>
                <observers>
                    <banner_config_observer>
                        <type>singleton</type>
                        <class>practice_override/observer</class>
                        <method>advancedUpdated</method>
                    </banner_config_observer>
                </observers>
            </admin_system_config_changed_section_advanced>
        </events>
        <models>
            <catalog>
                <rewrite>
                    <product>Practice_Override_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <practice_override>
                <class>Practice_Override_Model</class>
            </practice_override>
        </models>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Practice_Override before="Mage_Catalog">Practice_Override</Practice_Override>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Practice_Override before="Mage_Adminhtml">Practice_Override_Adminhtml</Practice_Override>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <demo>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>practice_override/observer::demo</model>
                </run>
            </demo>
        </jobs>
    </crontab>
</config> 