<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Test>
            <version>0.1.6</version>
        </Practice_Test>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Practice_Test before="Mage_Adminhtml">Practice_Test_Adminhtml</Practice_Test>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice_test>
                    <file>practice_test.xml</file>
                </practice_test>
            </updates>
        </layout>

    </adminhtml>
    <global>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <test_demo_attribute_copy>
                        <type>singleton</type>
                        <class>practice_test/observer</class>
                        <method>copyCustomProductAttributes</method>
                    </test_demo_attribute_copy>
                </observers>
            </sales_quote_item_set_product>
            <before_test_add>
                <observers>
                    <practice_test>
                        <type>model</type>
                        <class>practice_test/observer</class>
                        <method>demo</method>
                    </practice_test>
                    <!-- <practice_tests>
                        <type>model</type>
                        <class>practice_test/observer</class>
                        <method>demos</method>
                    </practice_tests> -->
                </observers>
            </before_test_add>
            <before_test_adds>
                <observers>
                    <practice_test>
                        <type>model</type>
                        <class>practice_test/observer</class>
                        <method>demos</method>
                    </practice_test>
                </observers>
            </before_test_adds>
            <admin_session_user_login_success>
                <observers>
                    <practice_test>
                        <type>singleton</type>
                        <class>practice_test/observer</class>
                        <method>logAdminLogin</method>
                    </practice_test>
                </observers>
            </admin_session_user_login_success>
        </events>
        <helpers>
            <practice_test>
                <class>Practice_Test_Helper</class>
            </practice_test>
        </helpers>
        <models>
            <practice_test>
                <class>Practice_Test_Model</class>
                <resourceModel>practice_test_resource</resourceModel>
            </practice_test>
            <practice_test_resource>
                <class>Practice_Test_Model_Resource</class>
                <entities>
                    <test1>
                        <table>test1</table>
                    </test1>
                    <test2>
                        <table>test2</table>
                    </test2>
                    <test3>
                        <table>test3</table>
                    </test3>
                </entities>
            </practice_test_resource>
        </models>
        <resources>
            <test_setup>
                <setup>
                    <module>Practice_Test</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </test_setup>
        </resources>
        <blocks>
            <practice_test>
                <class>Practice_Test_Block</class>
            </practice_test>
        </blocks>
    </global>
</config>