<?xml version="1.0"?>
<config>
    <modules>
        <Exam_Partmanager>
            <version>0.1.2</version>
        </Exam_Partmanager>
    </modules>
    <frontend>
        <layout>
            <updates>
                <exam_partmanager>
                    <file>exam.xml</file>
                </exam_partmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Exam_Partmanager before="Mage_Adminhtml">Exam_Partmanager_Adminhtml</Exam_Partmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <exam_partmanager>
                    <file>exam_partmanager.xml</file>
                </exam_partmanager>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <exam_partmanager>
                <class>Exam_Partmanager_Block</class>
            </exam_partmanager>
        </blocks>
        <models>
            <exam_partmanager>
                <class>Exam_Partmanager_Model</class>
                <resourceModel>exam_partmanager_resource</resourceModel>
            </exam_partmanager>
            <exam_partmanager_resource>
                <class>Exam_Partmanager_Model_Resource</class>
                <entities>
                    <mfr>
                        <table>ccc_mfr</table>
                    </mfr>
                    <parts>
                        <table>ccc_mfr_parts</table>
                    </parts>
                </entities>
            </exam_partmanager_resource>
        </models>
        <resources>
            <partmanager_setup>
                <setup>
                    <module>Exam_Partmanager</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partmanager_setup>
        </resources>
        <helpers>
            <exam_partmanager>
                <class>Exam_Partmanager_Helper</class>
            </exam_partmanager>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Exam_Partmanager_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>
    