<?xml version="1.0"?>
<config>
    <modules>
        <Exam_Reportmanager>
            <version>0.1.1</version>
        </Exam_Reportmanager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Exam_Reportmanager before="Mage_Adminhtml">Exam_Reportmanager_Adminhtml</Exam_Reportmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <exam_reportmanager>
                    <file>exam_reportmanager.xml</file>
                </exam_reportmanager>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <exam_reportmanager>
                <class>Exam_Reportmanager_Block</class>
            </exam_reportmanager>
        </blocks>
        <models>
            <exam_reportmanager>
                <class>Exam_Reportmanager_Model</class>
                <resourceModel>exam_reportmanager_resource</resourceModel>
            </exam_reportmanager>
            <exam_reportmanager_resource>
                <class>Exam_Reportmanager_Model_Resource</class>
                <entities>
                    <report>
                        <table>ccc_filter_report</table>
                    </report>
                </entities>
            </exam_reportmanager_resource>
        </models>
        <resources>
            <reportmanager_setup>
                <setup>
                    <module>Exam_Reportmanager</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reportmanager_setup>
        </resources>
        <helpers>
            <exam_reportmanager>
                <class>Exam_Reportmanager_Helper</class>
            </exam_reportmanager>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <update_sold_count_before_order_save>
                        <type>singleton</type>
                        <class>exam_reportmanager/observer</class>
                        <method>updateSoldCountSaveBefore</method>
                    </update_sold_count_before_order_save>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <update_sold_count_before_order_delete>
                        <type>singleton</type>
                        <class>exam_reportmanager/observer</class>
                        <method>updateSoldCountDeleteBefore</method>
                    </update_sold_count_before_order_delete>
                </observers>
            </order_cancel_after>
        </events>    
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Exam_Reportmanager_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_product>Exam_Reportmanager_Block_Adminhtml_Catalog_Product</catalog_product>
                    <customer>Exam_Reportmanager_Block_Adminhtml_Customer</customer>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>